<body>
   <nav class="navbar navbar-expand d-flex flex-columnalign-item-start" id="sidebar">
      <ul class="navbar-nav d-flex flex-colum mt-5 w-100">
        <li class="nav-item w-100">
          <a href="#">
            <img src="../../../assets/images/elon.png" alt="Elon"
                 class="Elon" />
          </a>
        </li>
      </ul>
     <ul class="navbar-nav d-flex flex-colum mt-5 w-100">
       <li class="nav-item w-100">
         <a href="#">
           <img src="../../../assets/images/video2.png" alt="Elon"
                class="Elon" />
         </a>
       </li>
     </ul>
     <ul class="navbar-nav d-flex flex-colum mt-5 w-100">
       <li class="nav-item w-100">
         <a href="#">
           <img src="../../../assets/images/video3.png" alt="Elon"
                class="Elon" />
         </a>
       </li>
     </ul>
     <ul class="navbar-nav d-flex flex-colum mt-5 w-100">
       <li class="nav-item w-100">
         <a href="#">
           <img src="../../../assets/images/video4.png" alt="Elon"
                class="Elon" />
         </a>
       </li>
     </ul>
   </nav>



